<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.GroupsMapper">

    <resultMap id="BaseResultMap" type="org.example.model.Groups">
            <id property="groupId" column="group_id" jdbcType="INTEGER"/>
            <result property="groupName" column="group_name" jdbcType="VARCHAR"/>
            <result property="groupBy" column="group_by" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="maxPeople" column="max_people" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        group_id,group_name,group_by,
        description,created_at,max_people
    </sql>
</mapper>
